# Ambiente virtual
venv/
ENV/
.env

# Banco de dados
db.sqlite3

# Arquivos compilados Python
*.pyc
__pycache__/

# Arquivos de log
*.log

# Arquivos de cache
*.cache

# Diretórios de mídia (se aplicável)
media/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db
