{% extends "paginasweb/models/base.html" %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">{{ titulo }}</h2>
  <p class="lead">
    Tem certeza que deseja excluir 
    <strong>{{ object }}</strong>?
  </p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
